---
const {frontmatter} = Astro.props;
const subTitleClass = `my-4 text-xl text-gray`;
---
<html>
<head>
    <div class={subTitleClass}>
        <img src="https://developers.ubcn.co.kr/assets/notice_banner_1920x700.png" alt="banner"/>
        <br>
        <h2 id="공지사항">공지사항</h2>
    </div>
</head>
<body>
<slot/>
더욱 편리하고 안전한 서비스를 위해 노력하는 유비씨엔이 되겠습니다.<br/>
감사합니다.
<br/><br/>
<img src="/src/assets/logo/ubcn-logo-text.png" alt="banner"/>
</body>
<footer>
    <div class="mt-1 flex flex-col gap-2">
    </div>
    <p class="self-end">작성일자: {frontmatter.writtenAt.slice(0, 10)}</p>
    <br/>
</footer>
</html>
