---
import Header from '../../components/Header.astro';
const {frontmatter} = Astro.props;
const classList = `mt-4 mb-6 text-xl text-gray`;
---
<html>
<head>
    <title>릴리즈노트</title>
    <div class={classList}>
        <div class="relative">
            <div>
            <img src="https://developers.ubcn.co.kr/assets/banner_1920x700.png" alt="banner" class="rounded"/>
            </div>
            <div class="hidden md:block absolute bottom-0 pl-4 pb-2 text-white text-4xl font-bold text-center">{frontmatter.title} 소식을 안내드립니다.</div>
        </div>
        <h1 id="주요 업데이트 사항">주요 업데이트 사항</h1>
    </div>
</head>
<body>
<div>
    <slot/>
</div>
</body>
</html>
