---
interface Props {
  style: "web" | "api" | "batch" | "online" | "database" ;
}
const {style} = Astro.props;
const cls = `inline-block rounded-sm px-1.5 text-sm color-white font-bold ${
    style === "web"
        ? "bg-blue"
        : style === "api"
            ? "bg-orange"
            : style === "batch"
                ? "bg-green-6"
                : style === "online"
                    ? "bg-indigo-6"
                    : style === "database"
                        ? "bg-red"
                        : "bg-slate-7"
}`;
---
<span class={cls}>
<slot/>
</span>
