---

---
<footer class="footer grid gap-2">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2 md:gap-6 items-center justify-between">
        <div class="flex items-center justify-between gap-4">
            <div class="text-sm md:text-xl">더 궁금한 내용이 있으신가요?</div>
            <div class="text-black underline">
                <a href="https://pf.kakao.com/_Ihxlbj/chat">실시간 문의</a>
            </div>
        </div>
        <div class="flex items-center justify-between gap-4">
            <div class="text-sm md:text-xl">가맹·영업 관련 문의가 필요하신가요?</div>
            <div class="text-black underline">
                <a href="mailto:sales@ubcn.co.kr">이메일 보내기</a>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between not-content ">
        <div class="flex items-center justify-evenly gap-4">
            <a class="text-sm md:text-xl text-black underline" href="https://developers.ubcn.co.kr/notice/privacy/">개인정보처리방침</a>
        </div>
    </div>
    <br/>
</footer>