---
interface Props {
  date: string;
}
const { date } = Astro.props;
---

<div class="mt-10 flex flex-col gap-2">
  <br />
</div>
<p class="self-end">작성일자: {date}</p>
<br />
<table class="border-separate self-start my-2">
  <tr>
    <th class="bg-orange-5 px-4 text-white font-bold text-center">일반 문의</th>
    <td class="px-4 border-1">cs@ubcn.co.kr</td>
  </tr>
  <tr>
    <th class="bg-orange-5 px-4 text-white font-bold text-center">기술지원 문의</th>
    <td class="px-4 border-1">system@ubcn.co.kr</td>
  </tr>
</table>
<p class="mt-1">
  <a class="text-orange-5" href="https://portone.io/korea/ko/service">
    유비씨엔 서비스 더 알아보기 →
  </a>
</p>
