---
import config from 'virtual:starlight/user-config';
import Search from 'virtual:starlight/components/Search';
import SiteTitle from 'virtual:starlight/components/SiteTitle';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
    config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---
<link rel="stylesheet" href="/src/assets/styles/style.css">
<script>
  document.documentElement.dataset.theme = 'light';
  if (typeof localStorage !== 'undefined') {
    localStorage.setItem('starlight-theme', 'light');
  }
</script>
<div class="header flex items-center">
    <div>
        <SiteTitle {...Astro.props}/>
    </div>
    <div class="print:hidden">
      {shouldRenderSearch &&
          <Search {...Astro.props}/>}
    </div>
    <div class="items-center site-title sl-flex px-5" id="category-group">
        <a class="h-full inline-flex items-center px-4" href="/glossary">
          <span class="font-bold">
            용어사전
          </span>
        </a>
        <a class="h-full inline-flex items-center px-4" href="/release-notes">
            <span class="font-bold">
            릴리즈 노트
          </span>
        </a>
        <a class="h-full inline-flex items-center px-4" href="/api">
            <span class="font-bold">
            API
          </span>
        </a>
        <a class="h-full inline-flex items-center px-4" target="_blank"
           href="https://ubcn.notion.site/UBCn-Network-Pay-21930b3d33e24caea25d97d3a314f066?pvs=4">
          <span class="font-bold text-link">
            네트워크
          </span>
        </a>
        <a class="h-full inline-flex items-center px-4" href="/faq">
          <span class="font-bold">
            자주 묻는 질문
          </span>
        </a>
    </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  @media (max-width: 767.99px) {
    #category-group {
      display: none;
    }
  }

  @media ( max-width: 991.98px) {
    #category-group {
      display: none;
    }
  }

  #category-group > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-link {
    color: #3182fb;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    /*overflow: hidden;*/
  }

  .title-wrapper:not(:where(.sl-flex *)) {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    padding: 100px;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
  }

  .social-icons::after {
    content: '';
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  @media (min-width: 50rem) {
    :global(:root[data-has-sidebar]) {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }

    :global(:root:not([data-has-toc])) {
      --__toc-width: 0rem;
    }

    .pagefind-ui__search-input {
      height: calc(64px * var(--pagefind-ui-scale));
      padding: 0 calc(70px * var(--pagefind-ui-scale)) 0 calc(54px * var(--pagefind-ui-scale));
      background-color: var(--pagefind-ui-background);
      border: var(--pagefind-ui-border-width) solid var(--pagefind-ui-border);
      border-radius: var(--pagefind-ui-border-radius);
      font-size: calc(21px * var(--pagefind-ui-scale));
    }

    .header {
      --__sidebar-width: max(0rem, var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x));
      --__main-column-fr: calc(
          (100% + var(--__sidebar-pad, 0rem) - var(--__toc-width, var(--sl-sidebar-width)) -
          (2 * var(--__toc-width, var(--sl-nav-pad-x))) - var(--sl-content-inline-start, 0rem) -
          var(--sl-content-width)) / 2
      );
      display: grid;
      grid-template-columns:
        /* 1 (site title): runs up until the main content column’s left edge or the width of the title, whichever is the largest  */ minmax(
					calc(var(--__sidebar-width) + max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))),
          auto
				)
				/* 2 (search box): all free space that is available. */
				1fr
				/* 3 (right items): use the space that these need. */
				auto;
      align-content: center;
    }
  }
</style>