---
import Footer from '../../components/Footer.astro';
const {frontmatter} = Astro.props;
const classList = frontmatter.title === "유비씨엔 용어사전" ? `hidden` : 'grid gap-2';
---

<link rel="stylesheet" href="/src/assets/styles/glossary.css">
<div class="px-4">
    <div>
        <div class={classList}>
            <a href={"/glossary/"}>＜용어사전으로 돌아가기</a>
        </div>
        <div class="bg-primary-2 h-48 rounded mb-4">
            <div class="text-gray-2 text-6xl font-bold text-center h-full contents-center">{frontmatter.title}</div>
        </div>
    </div>

    <div class="mb-20">
        <slot/>
    </div>

    <div class="doc-meta text-right">
        <span> · </span>
        <span>Created by <strong>김태우</strong></span>
    </div>
    <hr>
    <Footer/>
</div>