@import url("pretendardvariable.css");

:root{
  --sl-content-width: 50rem !important;
}
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --un-content: ""
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: break-all;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  font-family: Pretendard Variable, Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
  Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic,
  "Apple Color Emoji", "Segoe UI Emoji",
  Segoe UI Symbol, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

header {
  height: 4rem !important;
  z-index: 1 !important;
}

starlight-menu-button svg{
  height: auto;
  margin: auto;
}

header img{
  width: 5.5rem !important;
}
body {
  margin: 0;
  line-height: inherit;
  font-family: Pretendard Variable !important;
}
.main-pane main{margin: 1rem;}
.main-pane main .content-panel {
  padding: 0;
  margin-bottom: 12px !important;
}

.main-pane main .content-panel:nth-child(2) {
  border-top: 0 !important;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

.sl-markdown-content :not(a, strong, em, del, span, input, code) + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
  margin-top: 0;
}

/* 고정값 '개요'를 제거하기 위함 */
starlight-toc ul li:first-child {
  display: none;
}

starlight-toc nav h2 {
  font-weight: 700 !important;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: .5rem !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #334155 !important;
}

starlight-toc nav ul li a span {
  --un-text-opacity: 1 !important;
  color: rgb(100 116 139 / var(--un-text-opacity)) !important;
  font-size: .875rem !important;
  line-height: 1.25rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

abbr:where([title]) {
  text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 12px 0px !important;
}

.main-pane h1, .main-pane h2, .main-pane h3, .main-pane h4, .main-pane h5, .main-pane h6 {
  /*border-bottom: 1px solid #e5e7eb;*/
  font-weight: 400;
}

.site-title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/*.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)){
  border: 1px solid #f3f3f3;
}*/

:where(.astro-3ii7xxms)[aria-current=page], :where(.astro-3ii7xxms)[aria-current=page]:hover, :where(.astro-3ii7xxms)[aria-current=page]:focus {
  font-weight: 600;
  color: rgb(234 88 12 / var(--un-text-opacity));
  --un-text-opacity: 1;
  --un-bg-opacity: 1;
  background-color: rgb(255 237 213 / var(--un-bg-opacity));
}
.sl-markdown-content li > :last-child:not(li, ul, ol):not(a, strong, em, del, span, input, :where(.not-content *)){
  margin-top: 0;
  line-height: 1.5;
  margin-bottom:8px;
}

h1 {
  letter-spacing: -.021em !important;
  font-weight: 600 !important;
  margin: 12px 0px !important;
  scroll-margin-top: 5.2rem !important;
}

h2 {
  letter-spacing: -.02em !important;
  font-weight: 600 !important;
  margin: 12px 0px !important;
}

h3 {
  letter-spacing: -.018em !important;
  font-weight: 400 !important;
  margin: 30px 0px 12px 0px !important;
  color: #353841 !important;
}

h4 {
  font-size: 1.125rem !important;
  line-height: 1.35 !important;
  letter-spacing: -.018em !important;
  font-weight: 400 !important;
  margin: 12px 0px !important;
  color: #353841 !important;
}

p {
  font-size: 16px !important;
}

a {
  color: inherit;
  text-decoration: inherit
}

b, strong {
  font-weight: bolder
}

code, kbd, samp, pre {
  font-family: Pretendard Variable !important;
  font-weight: 600 !important;
  /*font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em*/
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

starlight-theme-select select {
  border: 0;
  padding-block: 0.625rem;
  padding-inline: calc(var(--sl-label-icon-size) + var(--sl-inline-padding) + 0.25rem) calc(var(--sl-caret-size) + var(--sl-inline-padding) + 0.25rem);
  margin-inline: calc(var(--sl-inline-padding) * -1);
  width: calc(var(--sl-select-width) + var(--sl-inline-padding) * 2);
  background-color: transparent;
  text-overflow: ellipsis;
  color: inherit;
  cursor: pointer;
  appearance: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

button:where{
  position: fixed;
  top: calc((var(--sl-nav-height) - var(--sl-menu-button-size)) / 2);
  inset-inline-end: var(--sl-nav-pad-x);
  z-index: var(--sl-z-index-navbar);
  border: 0;
  border-radius: 50%;
  width: var(--sl-menu-button-size);
  height: var(--sl-menu-button-size);
  padding: .5rem !important;
  box-shadow: var(--sl-shadow-md);
  cursor: pointer;
}

/*summary {
  display: list-item
}*/

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-pane .sl-markdown-content ul {
  list-style: disc;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

starlight-tabs [role=tablist]{
  flex-direction: row !important;
  list-style: none !important;
}

:where(.astro-esqgolmp)[role=tablist]{
  border-bottom: 0;
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

button, [role=button] {
  cursor: pointer
}

:disabled {
  cursor: default
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle
}

img, video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

*, :before, :after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: 0;
  --un-pan-y: 0;
  --un-pinch-zoom: 0;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: 0;
  --un-slashed-zero: 0;
  --un-numeric-figure: 0;
  --un-numeric-spacing: 0;
  --un-numeric-fraction: 0;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: 0;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: 0;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / .5);
  --un-blur: 0;
  --un-brightness: 0;
  --un-contrast: 0;
  --un-drop-shadow: 0;
  --un-grayscale: 0;
  --un-hue-rotate: 0;
  --un-invert: 0;
  --un-saturate: 0;
  --un-sepia: 0;
  --un-backdrop-blur: 0;
  --un-backdrop-brightness: 0;
  --un-backdrop-contrast: 0;
  --un-backdrop-grayscale: 0;
  --un-backdrop-hue-rotate: 0;
  --un-backdrop-invert: 0;
  --un-backdrop-opacity: 0;
  --un-backdrop-saturate: 0;
  --un-backdrop-sepia0: 0;
}

::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: 0;
  --un-pan-y: 0;
  --un-pinch-zoom: 0;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: 0;
  --un-slashed-zero: 0;
  --un-numeric-figure: 0;
  --un-numeric-spacing: 0;
  --un-numeric-fraction: 0;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: 0;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: 0;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / .5);
  --un-blur: 0;
  --un-brightness: 0;
  --un-contrast: 0;
  --un-drop-shadow: 0;
  --un-grayscale: 0;
  --un-hue-rotate: 0;
  --un-invert: 0;
  --un-saturate: 0;
  --un-sepia: 0;
  --un-backdrop-blur: 0;
  --un-backdrop-brightness: 0;
  --un-backdrop-contrast: 0;
  --un-backdrop-grayscale: 0;
  --un-backdrop-hue-rotate: 0;
  --un-backdrop-invert: 0;
  --un-backdrop-opacity: 0;
  --un-backdrop-saturate: 0;
  --un-backdrop-sepia0: 0;
}

.group[data-open=true] .group-data-\[open\=true\]\:i-ic-baseline-keyboard-arrow-down, .i-ic-baseline-keyboard-arrow-down, .i-ic-outline-keyboard-arrow-down {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-arrow-back {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-check {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-chevron-right, .i-ic-sharp-chevron-right {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-close {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-download {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M5 20h14v-2H5zM19 9h-4V3H9v6H5l7 7z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-edit {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-keyboard-arrow-right {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-keyboard-arrow-up, .i-ic-outline-keyboard-arrow-up {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-keyboard-backspace {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M21 11H6.83l3.58-3.59L9 6l-6 6l6 6l1.41-1.41L6.83 13H21z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-label {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-launch, .i-ic-baseline-open-in-new {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-menu {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M3 18h18v-2H3zm0-5h18v-2H3zm0-7v2h18V6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-plus {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-baseline-search {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-outline-info {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-outline-warning {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M1 21h22L12 2zm12-3h-2v-2h2zm0-4h-2v-4h2z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-sharp-check-circle-outline {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4l8-8z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-ic-twotone-delete-forever {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M16 9H8v10h8zm-.47 7.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14l-2.13-2.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14z' opacity='.3'/%3E%3Cpath fill='currentColor' d='M14.12 10.47L12 12.59l-2.13-2.12l-1.41 1.41L10.59 14l-2.12 2.12l1.41 1.41L12 15.41l2.12 2.12l1.41-1.41L13.41 14l2.12-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM8 9h8v10H8z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-material-symbols-arrow-left-alt {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-facebook {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978c.401 0 .955.042 1.468.103a9 9 0 0 1 1.141.195v3.325a9 9 0 0 0-.653-.036a27 27 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.7 1.7 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103l-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-github {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205 11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305 3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38 1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3 .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475 5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-hashnode {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m22.351 8.019l-6.37-6.37a5.63 5.63 0 0 0-7.962 0l-6.37 6.37a5.63 5.63 0 0 0 0 7.962l6.37 6.37a5.63 5.63 0 0 0 7.962 0l6.37-6.37a5.63 5.63 0 0 0 0-7.962M12 15.953a3.953 3.953 0 1 1 0-7.906a3.953 3.953 0 0 1 0 7.906'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-linkedin {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037c-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85c3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.06 2.06 0 0 1-2.063-2.065a2.064 2.064 0 1 1 2.063 2.065m1.782 13.019H3.555V9h3.564zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-medium {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M13.54 12a6.8 6.8 0 0 1-6.77 6.82A6.8 6.8 0 0 1 0 12a6.8 6.8 0 0 1 6.77-6.82A6.8 6.8 0 0 1 13.54 12m7.42 0c0 3.54-1.51 6.42-3.38 6.42s-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42s3.38 2.88 3.38 6.42M24 12c0 3.17-.53 5.75-1.19 5.75s-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75S24 8.83 24 12'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-tistory {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M0 3a3 3 0 1 0 6 0a3 3 0 0 0-6 0m9 18a3 3 0 1 0 6 0a3 3 0 0 0-6 0m0-9a3 3 0 1 0 6 0a3 3 0 0 0-6 0m0-9a3 3 0 1 0 6 0a3 3 0 0 0-6 0m9 0a3 3 0 1 0 6 0a3 3 0 0 0-6 0'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.i-simple-icons-x {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584l-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.pointer-events-auto {
  pointer-events: auto
}

.pointer-events-none {
  pointer-events: none
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.meta{margin-top: 0;}
.right-sidebar{
  border: 0px;
}
.sl-container:where(.astro-7nkwcw3z)>* + *{margin-top: 0}
.relative {
  position: relative
}

.sticky {
  position: sticky
}

.static {
  position: static
}

.inset-x-0 {
  left: 0;
  right: 0
}

.-top-8px {
  top: -8px
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.left-1\/2 {
  left: 50%
}

.top-\[3\.5rem\], .top-14 {
  top: 3.5rem
}

.top-\[calc\(100\%\+16px\)\] {
  top: calc(100% + 16px)
}

.top-0 {
  top: 0
}

.top-1\/2 {
  top: 50%
}

.top-20 {
  top: 5rem
}

.top-4rem {
  top: 4rem
}

.grid {
  display: grid
}

.col-span-2 {
  grid-column: span 2/span 2
}

.col-start-1 {
  grid-column-start: 1
}

.row-start-1 {
  grid-row-start: 1
}

.col-end-2 {
  grid-column-end: 2
}

.row-end-2 {
  grid-row-end: 2
}

.grid-cols-\[1fr_1fr_1\.5rem\] {
  grid-template-columns: 1fr 1fr 1.5rem
}

.grid-cols-\[2fr_3fr_2em\] {
  grid-template-columns: 2fr 3fr 2em
}

.grid-cols-\[3fr_2fr\] {
  grid-template-columns: 3fr 2fr
}

.grid-cols-\[auto_minmax\(0\,1fr\)\] {
  grid-template-columns: auto minmax(0, 1fr)
}

.grid-cols-\[repeat\(auto-fill\,minmax\(300px\,1fr\)\)\] {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}

.grid-rows-\[auto_1fr\] {
  grid-template-rows: auto 1fr
}

.grid-rows-\[auto_minmax\(0\,1fr\)\] {
  grid-template-rows: auto minmax(0, 1fr)
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr))
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr))
}

.m-0 {
  margin: 0
}

.m-2\.5 {
  margin: .625rem
}

.m-4 {
  margin: 1rem
}

.m15\.7603 {
  margin: 3.940075rem
}

.m23\.0485 {
  margin: 5.762125rem
}

.m43\.9921 {
  margin: 10.998025rem
}

.m63\.497 {
  margin: 15.87425rem
}

.m84\.2777 {
  margin: 21.069425rem
}

.m96\.5554 {
  margin: 24.13885rem
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem
}

.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.-mb-px {
  margin-bottom: -1px
}

.-ml-px {
  margin-left: -1px
}

.-mr-\[4px\] {
  margin-right: -4px
}

.-mt-2 {
  margin-top: -.5rem
}

.\[\&\:not\(\:last-child\)\]\:mb-4:not(:last-child), .mb-4 {
  margin-bottom: 1rem
}

.mb-1 {
  margin-bottom: .25rem
}

.mb-12px {
  margin-bottom: 12px
}

.mb-16 {
  margin-bottom: 4rem
}

.mb-2 {
  margin-bottom: .5rem
}

.mb-40 {
  margin-bottom: 10rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-8px {
  margin-bottom: 8px
}

.ml-1 {
  margin-left: .25rem
}

.ml-2 {
  margin-left: .5rem
}

.mr-1\.75rem {
  margin-right: 1.75rem
}

.mr-1 {
  margin-right: .25rem
}

.mr-2 {
  margin-right: .5rem
}

.mr-4 {
  margin-right: 1rem
}

.ms {
  margin-inline-start: 1rem
}
.mt-5{
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 2.5rem
}

.mt-12px {
  margin-top: 12px
}

.mt-2 {
  margin-top: .5rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-3 {
  margin-top: .75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8px {
  margin-top: 8px
}

.first\:mt-0:first-child {
  margin-top: 0
}

.last\:mb-0:last-child {
  margin-bottom: 0
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.aspect-6\/4 {
  aspect-ratio: 6/4
}

.aspect-video {
  aspect-ratio: 16/9
}

.h-\[calc\(100\%-3\.5rem\)\] {
  height: calc(100% - 3.5rem)
}

.h-\[calc\(100\%-56px\)\] {
  height: calc(100% - 56px)
}

.h-\[calc\(100vh-10rem\)\] {
  height: calc(100vh - 10rem)
}

.h-\[calc\(100vh-3\.5rem\)\] {
  height: calc(100vh - 3.5rem)
}

.h-10 {
  height: 2.5rem
}

.h-14 {
  height: 3.5rem
}

.h-16 {
  height: 4rem
}

.h-16px {
  height: 16px
}

.h-18px {
  height: 18px
}

.h-1px {
  height: 1px
}

.h-2, .h2 {
  height: .5rem
}

.h-2rem {
  height: 2rem
}

.h-5, .h5 {
  height: 1.25rem
}

.h-fit {
  height: fit-content
}

.h-full {
  height: 100%
}

.h-inherit {
  height: inherit
}

.h-max {
  height: max-content
}

.h1 {
  height: .25rem
}

.h3 {
  height: .75rem
}

.h4 {
  height: 1rem
}

.h6 {
  height: 1.5rem
}

.max-w-\[1150px\] {
  max-width: 1150px
}

.max-w-\[800px\] {
  max-width: 800px
}

.max-w-1148px {
  max-width: 1148px
}

.max-w-300px {
  max-width: 300px
}

.min-h-0 {
  min-height: 0
}

.min-h-full {
  min-height: 100%
}

.min-w-0 {
  min-width: 0
}

.min-w-250px {
  min-width: 250px
}

.w-16 {
  width: 4rem
}

.w-1px {
  width: 1px
}

.w-2 {
  width: .5rem
}

.w-22 {
  width: 5.5rem
}

.w-40 {
  width: 10rem
}

.w-5 {
  width: 1.25rem
}

.w-56 {
  width: 14rem
}

.w-65 {
  width: 16.25rem
}

.w-fit {
  width: fit-content
}

.w-full {
  width: 100%
}

.w-inherit {
  width: inherit
}

.w-max {
  width: max-content
}

.w-screen {
  width: 100vw
}

.w\[l\] {
  width: 0;
}

.wa {
  width: auto
}

.group[data-open=true] .group-data-\[open\=true\]\:flex, .flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0
}

.shrink, .shrink-1 {
  flex-shrink: 1
}

.shrink-10 {
  flex-shrink: 10
}

.flex-grow, .grow {
  flex-grow: 1
}

.basis-10 {
  flex-basis: 2.5rem
}

.basis-200 {
  flex-basis: 50rem
}

.basis-300 {
  flex-basis: 75rem
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.table {
  display: table
}

.sl-markdown-content table:not(footer table){
  width: 100%;
  display: table !important;
  margin: .5rem !important;
  text-indent: 0;
  border-collapse: collapse;
}

.action.primary {
  --un-bg-opacity: 1;
  background: rgb(249 115 22 / var(--un-bg-opacity));
  color: var(--sl-color-black);
  font-size: var(--sl-text-base);
  padding: 1rem 1.25rem;
  gap: .5em;
  align-items: center;
  border-radius: 999rem;
  line-height: 1.1875;
  text-decoration: none;
}

.sl-markdown-content code {
  padding: 0 .25rem;
  border-radius: .25rem;
  background-color: #cbd5e140;
  color: #eb5757;
  word-break: break-all;
  font-size: 16px;
  font-weight: bold;
}
.sl-markdown-content table:not(footer table) th{
  padding: .5rem;
  border-color: #e5e7eb;
  background-color: #f1f5f980;
  border-width: 1px;
}

.sl-markdown-content table:not(footer table) td{
  border-width: 1px;
  font-weight: 400;
  border-color: #e5e7eb;
  background-color: #ffffff80;
  padding-inline: .5rem !important;
}

.border-separate {
  border-collapse: separate
}

.-translate-x-1\/2 {
  --un-translate-x: -50%;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.translate-x-2 {
  --un-translate-x: .5rem;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.hover\:translate-y-\[-2px\]:hover {
  --un-translate-y: -2px;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.rotate-45 {
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: 45deg;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.scale-150 {
  --un-scale-x: 1.5;
  --un-scale-y: 1.5;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.scale-300 {
  --un-scale-x: 3;
  --un-scale-y: 3;
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.transform {
  transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.cursor-default {
  cursor: default
}

.cursor-pointer {
  cursor: pointer
}

.select-none {
  -webkit-user-select: none;
  user-select: none
}

.resize {
  resize: both
}

.scroll-mt-5\.2rem {
  scroll-margin-top: 5.2rem
}

.\[\&_li\]\:list-latin li {
  list-style-type: lower-latin
}

.list-none {
  list-style-type: none
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.self-start {
  align-self: flex-start
}

.self-end {
  text-align: end;
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-self-start {
  justify-self: start
}

.gap-1 {
  gap: .25rem
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: .5rem
}

.gap-2\.5 {
  gap: .625rem
}

.gap-20 {
  gap: 5rem
}

.gap-3 {
  gap: .75rem
}

.gap-3xl {
  gap: 1.875rem
}

.gap-4 {
  gap: 1rem
}

.gap-4\.5 {
  gap: 1.125rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-6px {
  gap: 6px
}

.gap-9 {
  gap: 2.25rem
}

.gap-x-2 {
  column-gap: .5rem
}

.gap-x-3 {
  column-gap: .75rem
}

.gap-x-4 {
  column-gap: 1rem
}

.gap-x-5 {
  column-gap: 1.25rem
}

.gap-x-6 {
  column-gap: 1.5rem
}

.gap-y-1 {
  row-gap: .25rem
}

.gap-y-2 {
  row-gap: .5rem
}

.gap-y-4 {
  row-gap: 1rem
}

.overflow-hidden {
  overflow: hidden
}

.overflow-scroll {
  overflow: scroll
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-y-scroll {
  overflow-y: scroll
}

.text-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.whitespace-pre {
  white-space: pre
}

.whitespace-pre-wrap {
  white-space: pre-wrap
}

.\[\&_a\]\:break-keep a, .break-keep {
  word-break: keep-all
}

#category-group::before{
  content: "";
  height: 2rem;
  border-inline-end: 1px solid var(--sl-color-gray-5);
}

.b, .border, .border-1 {
  border-width: 1px
}

.border-10px {
  border-width: 10px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-l {
  border-left-width: 1px
}

.border-l-4 {
  border-left-width: 4px
}

.border-r {
  border-right-width: 1px
}

.border-t {
  border-top-width: 1px
}

.last\:border-b-0:last-child {
  border-bottom-width: 0px
}

.last\:border-t-0:last-child {
  border-top-width: 0px
}

.border-blue-600 {
  --un-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--un-border-opacity))
}

.border-gray-300 {
  --un-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--un-border-opacity))
}

.border-green-6 {
  --un-border-opacity: 1;
  border-color: rgb(22 163 74 / var(--un-border-opacity))
}

.border-orange-7 {
  --un-border-opacity: 1;
  border-color: rgb(194 65 12 / var(--un-border-opacity))
}

.border-red-6 {
  --un-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--un-border-opacity))
}

.border-slate-1 {
  --un-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--un-border-opacity))
}

.border-slate-2 {
  --un-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--un-border-opacity))
}

.border-slate-3 {
  --un-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--un-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.hover\:border-orange-2:hover {
  --un-border-opacity: 1;
  border-color: rgb(254 215 170 / var(--un-border-opacity))
}

.hover\:border-orange:hover {
  --un-border-opacity: 1;
  border-color: rgb(251 146 60 / var(--un-border-opacity))
}

.border-b-white {
  --un-border-opacity: 1;
  --un-border-bottom-opacity: var(--un-border-opacity);
  border-bottom-color: rgb(255 255 255 / var(--un-border-bottom-opacity))
}

.border-l-ubcn {
  --un-border-opacity: 1;
  --un-border-left-opacity: var(--un-border-opacity);
  border-left-color: rgb(252 107 45 / var(--un-border-left-opacity))
}

.border-l-transparent {
  border-left-color: transparent
}

.border-t-ubcn {
  --un-border-opacity: 1;
  --un-border-top-opacity: var(--un-border-opacity);
  border-top-color: rgb(252 107 45 / var(--un-border-top-opacity))
}

.rounded {
  border-radius: .25rem
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-\[6px\], .rounded-6px {
  border-radius: 6px
}

.rounded-1\.5, .rounded-md {
  border-radius: .375rem
}

.rounded-12px {
  border-radius: 12px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-sm {
  border-radius: .125rem
}

.rounded-l {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.rounded-r {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.rounded-tl {
  border-top-left-radius: .25rem
}

.rounded-tl-none {
  border-top-left-radius: 0
}

.rounded-tr {
  border-top-right-radius: .25rem
}

.border-none {
  border-style: none
}

.group[data-active=true] .group-data-\[active\=true\]\:bg-slate-1, .bg-slate-1, .bg-slate-100, .data-\[active\=true\]\:bg-slate-1[data-active=true] {
  --un-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--un-bg-opacity))
}

.bg-\[rgb\(255_255_255_\/_4\%\)\] {
  --un-bg-opacity: 4%;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.bg-\[rgba\(0\,0\,0\,0\.6\)\] {
  --un-bg-opacity: .6;
  background-color: rgba(0, 0, 0, var(--un-bg-opacity))
}

.bg-\#F4F4F580 {
  --un-bg-opacity: .5;
  background-color: rgb(244 244 245 / var(--un-bg-opacity))
}

.bg-blue {
  --un-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--un-bg-opacity))
}

.bg-blue-2 {
  --un-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--un-bg-opacity))
}

.bg-green-2 {
  --un-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--un-bg-opacity))
}

.bg-green-6 {
  --un-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--un-bg-opacity))
}

.bg-indigo-6 {
  --un-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--un-bg-opacity))
}

.bg-neutral-200 {
  --un-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--un-bg-opacity))
}

.bg-orange {
  --un-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--un-bg-opacity))
}

.bg-orange-1 {
  --un-bg-opacity: 1;
  background-color: rgb(255 237 213 / var(--un-bg-opacity))
}

.bg-orange-5, .bg-orange-500 {
  --un-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--un-bg-opacity))
}

.bg-orange-600 {
  --un-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--un-bg-opacity))
}

.bg-orange-7 {
  --un-bg-opacity: 1;
  background-color: rgb(194 65 12 / var(--un-bg-opacity))
}

.bg-purple {
  --un-bg-opacity: 1;
  background-color: rgb(192 132 252 / var(--un-bg-opacity))
}

.bg-red {
  --un-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--un-bg-opacity))
}

.bg-red-2 {
  --un-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--un-bg-opacity))
}

.bg-red-6 {
  --un-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--un-bg-opacity))
}

.bg-slate-2 {
  --un-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--un-bg-opacity))
}

.bg-slate-3 {
  --un-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--un-bg-opacity))
}

.bg-slate-7 {
  --un-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--un-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-white {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.bg-yellow-2 {
  --un-bg-opacity: 1;
  background-color: rgb(254 240 138 / var(--un-bg-opacity))
}

.bg-yellow-5 {
  --un-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--un-bg-opacity))
}

.hover-bg-slate-1:hover {
  --un-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--un-bg-opacity))
}

.hover\:bg-\[rgb\(255_255_255_\/16\%\)\]:hover {
  --un-bg-opacity: 16%;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.hover\:bg-\#F4F4F5:hover {
  --un-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--un-bg-opacity))
}

.hover\:bg-slate-1:hover {
  --un-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--un-bg-opacity))
}

.hover\:bg-slate-2:hover {
  --un-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--un-bg-opacity))
}

.focus\:bg-\[rgb\(255_255_255_\/16\%\)\]:focus {
  --un-bg-opacity: 16%;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.active\:bg-ubcn:active {
  --un-bg-opacity: 1;
  background-color: rgb(252 107 45 / var(--un-bg-opacity))
}

.active\:bg-white:active {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.bg-cover {
  background-size: cover
}

.object-contain {
  object-fit: contain
}

.p-0 {
  padding: 0
}

.p-1px {
  padding: 1px
}

.p-2 {
  padding: .5rem
}

.p-4 {
  padding: 1rem
}

.px, .px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-1\.5 {
  padding-left: .375rem;
  padding-right: .375rem
}

.px-12px {
  padding-left: 12px;
  padding-right: 12px
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-8px {
  padding-left: 8px;
  padding-right: 8px
}

.py, .py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-\[28px\] {
  padding-top: 28px;
  padding-bottom: 28px
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.py-4px {
  padding-top: 4px;
  padding-bottom: 4px
}

.py-6px {
  padding-top: 6px;
  padding-bottom: 6px
}

.py-8px {
  padding-top: 8px;
  padding-bottom: 8px
}

.pb-1 {
  padding-bottom: .25rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pb-2 {
  padding-bottom: .5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-50 {
  padding-bottom: 12.5rem
}

.pl-1 {
  padding-left: .25rem
}

.pl-2 {
  padding-left: .5rem
}

.pl-2\.5 {
  padding-left: .625rem
}

.pl-4 {
  padding-left: 1rem
}

.pl-6 {
  padding-left: 1.5rem
}

.pr-0 {
  padding-right: 0
}

.pr-2 {
  padding-right: .5rem
}

.pr-3 {
  padding-right: .75rem
}

.pr-3\.5 {
  padding-right: .875rem
}

.pr-4 {
  padding-right: 1rem
}

.pr-6 {
  padding-right: 1.5rem
}

.ps {
  padding-inline-start: 1rem
}

.pt-\[28px\], .pt-28px {
  padding-top: 28px
}

.pt-2 {
  padding-top: .5rem
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left
}

.indent {
  text-indent: 1.5rem
}

.text-balance {
  text-wrap: balance;
}

.align-top {
  vertical-align: top
}

.text-\.875rem {
  font-size: .875rem
}

.text-1\.125rem {
  font-size: 1.125rem
}

.text-1\.375rem {
  font-size: 1.375rem
}

.text-1\.625rem {
  font-size: 1.625rem
}

.text-1\.875rem {
  font-size: 1.875rem
}

.text-12px {
  font-size: 12px
}

.text-14px {
  font-size: 14px
}

.text-17px {
  font-size: 17px
}

.text-19px {
  font-size: 19px
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1
}

.text-8 {
  font-size: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem
}

.group[data-active=true] .group-data-\[active\=true\]\:text-orange-5, .data-\[active\=true\]\:text-orange-5[data-active=true], .text-orange-5 {
  --un-text-opacity: 1;
  color: rgb(249 115 22 / var(--un-text-opacity))
}

.text-black {
  --un-text-opacity: 1;
  color: rgb(0 0 0 / var(--un-text-opacity))
}

.text-blue-600 {
  --un-text-opacity: 1;
  color: rgb(37 99 235 / var(--un-text-opacity))
}

.text-blue-7 {
  --un-text-opacity: 1;
  color: rgb(29 78 216 / var(--un-text-opacity))
}

.text-gray {
  --un-text-opacity: 1;
  color: rgb(156 163 175 / var(--un-text-opacity))
}

.text-green-6 {
  --un-text-opacity: 1;
  color: rgb(22 163 74 / var(--un-text-opacity))
}

.text-green-7 {
  --un-text-opacity: 1;
  color: rgb(21 128 61 / var(--un-text-opacity))
}

.text-orange-1 {
  --un-text-opacity: 1;
  color: rgb(255 237 213 / var(--un-text-opacity))
}

.text-orange-600 {
  --un-text-opacity: 1;
  color: rgb(234 88 12 / var(--un-text-opacity))
}

.text-orange-7 {
  --un-text-opacity: 1;
  color: rgb(194 65 12 / var(--un-text-opacity))
}

.text-ubcn {
  --un-text-opacity: 1;
  color: rgb(252 107 45 / var(--un-text-opacity))
}

.text-red {
  --un-text-opacity: 1;
  color: rgb(248 113 113 / var(--un-text-opacity))
}

.text-red-5 {
  --un-text-opacity: 1;
  color: rgb(239 68 68 / var(--un-text-opacity))
}

.text-red-6 {
  --un-text-opacity: 1;
  color: rgb(220 38 38 / var(--un-text-opacity))
}

.text-red-7 {
  --un-text-opacity: 1;
  color: rgb(185 28 28 / var(--un-text-opacity))
}

.text-slate, .text-slate-4 {
  --un-text-opacity: 1;
  color: rgb(148 163 184 / var(--un-text-opacity))
}

.text-slate-3 {
  --un-text-opacity: 1;
  color: rgb(203 213 225 / var(--un-text-opacity))
}

.text-slate-5, .text-slate-500 {
  --un-text-opacity: 1;
  color: rgb(100 116 139 / var(--un-text-opacity))
}

.text-slate-6, .text-slate-600 {
  --un-text-opacity: 1;
  color: rgb(71 85 105 / var(--un-text-opacity))
}

.text-slate-7, .text-slate-700 {
  --un-text-opacity: 1;
  color: rgb(51 65 85 / var(--un-text-opacity))
}

.text-slate-8 {
  --un-text-opacity: 1;
  color: rgb(30 41 59 / var(--un-text-opacity))
}

.text-transparent {
  color: transparent
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)),
.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)){
  padding-inline: .5rem !important;
}
.group[data-active=true] .group-data-\[active\=true\]\:text-orange-5, .data-\[active\=true\]\:text-orange-5[data-active=true], .text-orange-5 {
  --un-text-opacity: 1;
  color: #3182fb !important;
}
.sl-markdown-content a:not(:where(.not-content *)) {
  --un-text-opacity: 1;
  color: #3182fb !important;
}

.color-white, .text-white {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity)) !important;
}

.text-yellow-7 {
  --un-text-opacity: 1;
  color: rgb(161 98 7 / var(--un-text-opacity))
}

.target\:text-orange-5:target {
  --un-text-opacity: 1;
  color: rgb(249 115 22 / var(--un-text-opacity))
}

.group\/details:hover .group-hover\/details\:text-orange, .group\/swagger:hover .group-hover\/swagger\:text-orange {
  --un-text-opacity: 1;
  color: rgb(251 146 60 / var(--un-text-opacity))
}

.hover\:text-orange-5:hover {
  --un-text-opacity: 1;
  color: rgb(249 115 22 / var(--un-text-opacity))
}

.hover\:text-orange-7:hover {
  --un-text-opacity: 1;
  color: rgb(194 65 12 / var(--un-text-opacity))
}

.hover\:text-ubcn:hover {
  --un-text-opacity: 1;
  color: rgb(252 107 45 / var(--un-text-opacity))
}

.hover\:text-slate-5:hover {
  --un-text-opacity: 1;
  color: rgb(100 116 139 / var(--un-text-opacity))
}

.hover\:text-slate-7:hover {
  --un-text-opacity: 1;
  color: rgb(51 65 85 / var(--un-text-opacity))
}

.hover\:text-slate-9:hover {
  --un-text-opacity: 1;
  color: rgb(15 23 42 / var(--un-text-opacity))
}

.focus\:text-ubcn:focus {
  --un-text-opacity: 1;
  color: rgb(252 107 45 / var(--un-text-opacity))
}

.active\:text-white:active {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity))
}

.group[data-active=true] .group-data-\[active\=true\]\:font-bold, .data-\[active\=true\]\:font-bold[data-active=true], .font-bold {
  font-weight: 700
}

.font-500, .font-medium {
  font-weight: 500
}

.font-600, .font-semibold {
  font-weight: 600
}

.font-normal {
  font-weight: 400
}

.leading-\[1\.15\] {
  line-height: 1.15
}

.leading-\[1\.22\] {
  line-height: 1.22
}

.leading-\[1\.25\], .leading-tight {
  line-height: 1.25
}

.leading-\[1\.35\] {
  line-height: 1.35
}

.leading-\[1\.4\] {
  line-height: 1.4
}

.leading-\[1\.5\] {
  line-height: 1.5
}

.leading-\[1\.7\] {
  line-height: 1.7
}

.leading-18px {
  line-height: 18px
}

.leading-none {
  line-height: 1
}

.tracking-\[-\.006em\] {
  letter-spacing: -.006em
}

.tracking-\[-\.014em\] {
  letter-spacing: -.014em
}

.tracking-\[-\.018em\] {
  letter-spacing: -.018em
}

.tracking-\[-\.021em\] {
  letter-spacing: -.021em
}

.tracking-\[-\.02em\] {
  letter-spacing: -.02em
}

.tracking-\[0\.06em\] {
  letter-spacing: .06em
}

.tracking-\[0\.08em\] {
  letter-spacing: .08em
}

.tracking-tight {
  letter-spacing: -.025em
}

.tracking-widest {
  letter-spacing: .1em
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.underline, .hover\:underline:hover {
  text-decoration-line: underline
}

.decoration-1\.5 {
  text-decoration-thickness: 1.5px
}

.underline-offset-3 {
  text-underline-offset: 3px
}

.underline-offset-4 {
  text-underline-offset: 4px
}

.tab {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

.opacity-0 {
  opacity: 0
}

.opacity-40 {
  opacity: .4
}

.opacity-50 {
  opacity: .5
}

.opacity-60 {
  opacity: .6
}

.opacity-70 {
  opacity: .7
}

.hover\:opacity-100:hover {
  opacity: 1
}

.shadow-lg {
  --un-shadow: var(--un-shadow-inset) 0 10px 15px -3px rgb(0 0 0 / .1), var(--un-shadow-inset) 0 4px 6px -4px rgb(0 0 0 / .1);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow)
}

.shadow-md {
  --un-shadow: var(--un-shadow-inset) 0 4px 6px -1px rgb(0 0 0 / .1), var(--un-shadow-inset) 0 2px 4px -2px rgb(0 0 0 / .1);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow)
}

.filter {
  filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.duration-200 {
  transition-duration: .2s
}

.duration-300 {
  transition-duration: .3s
}

.ease-in {
  transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.z-dropdown-link {
  z-index: 9
}

.z-gnb {
  z-index: 11
}

.z-gnb-body {
  z-index: 10
}

.z-left-sidebar {
  z-index: 8
}

.z-overlay-dim {
  z-index: 2
}

.z-search {
  z-index: 12
}

.z-selected-tab {
  z-index: 1
}
footer {
  color: #6b7684;
}